html {
    overflow-y: scroll;
}

body{
    height: 100vh;
    max-height: 100vh;
}

.container, .col-8 {
    padding: 25px 15px;
}

table {
    text-align: center;
}

tbody {
    display: block;
    max-height: 50vh;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

th, td {
    vertical-align: middle !important;
}

.col-sm-12 > div{
    padding:20px;
}

.formFragment {
    display: block;
    margin: 10px;
}

.formFragment label {
    display: inline-block;
    width: 80px;
    max-width: 150px;
    text-align: right;
}

.submit-btn {
    margin: auto;
    display: inherit;
}

.fm-with-valid {
    vertical-align: top;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 5px 5px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 22px
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #3399FF;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
/*Pagination*/
.pagination {
    display: table;
    margin: 10px auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: skyblue;
    color: black;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a.invisible-link, .pagination a.invisible-link:hover {
    visibility:hidden;
}